@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 58%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);

  /* Neutral */
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --navy-500: hsl(236 41% 34%);

  --card-radius: 1rem;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@layer components {
  .container {
    @apply grid grid-cols-1 desktop:grid-cols-4 desktop:grid-rows-2 md:grid-cols-2;
    gap: clamp(1.5rem, 1.368rem + 0.563vw, 1.875rem);
    max-width: clamp(20.375rem, 3.121rem + 73.615vw, 69.375rem);
  }
  .card-1 {
    @apply bg-navy-900 flex flex-col rounded-card-radius desktop:row-span-2 md:row-span-2;
  }
  .card-1 .profile {
    @apply grid grid-cols-[70px_1fr] grid-rows-2 bg-purple-600 rounded-card-radius px-7 py-[1.96875rem] gap-x-[1.09375rem] items-center desktop:grid-cols-1 desktop:grid-rows-[auto_auto_1fr] desktop:gap-y-[0px] desktop:pt-[2.125rem] desktop:pb-[5rem] cursor-default md:grid-rows-[auto_auto] md:gap-y-0 md:h-full;
  }
  .profile .picture {
    @apply row-span-2 border-[0.1875rem] rounded-[50%] desktop:w-full desktop:max-w-[85px] desktop:row-span-1 desktop:mb-[2.4375rem];
  }
  .profile .name {
    @apply order-1;
  }
  .card-1 .filters {
    @apply flex px-6 pt-2.5 pb-[2.4375rem] items-center justify-between md:flex-col md:items-start md:justify-between md:p-[1.375rem] md:ps-[1.625rem] md:gap-5 h-full;
  }

  .card-2 {
    @apply flex flex-col overflow-hidden rounded-card-radius relative;
    padding-block-start: clamp(2.4375rem, 2.217rem + 0.939vw, 3.0625rem);
  }
  .card-2 .icon {
    @apply absolute -top-[11px] right-[18px] aspect-auto;
  }
  .card-2 .content {
    @apply grid grid-cols-2 grid-rows-2 bg-navy-900 rounded-t-card-radius px-6 pt-6 pb-7 items-center leading-none gap-x-0.5 z-10 desktop:gap-y-2 desktop:h-full;
  }

  .card-2 .ellipsis {
    @apply justify-self-end;
  }

  .work-card {
    @apply bg-orange-300;
  }
  .play-card {
    @apply bg-blue-300;
  }
  .study-card {
    @apply bg-pink-400;
  }
  .exercise-card {
    @apply bg-green-400;
  }
  .social-card {
    @apply bg-purple-700;
  }
  .self-care-card {
    @apply bg-yellow-300;
  }

  /* Text styles */
  .profile .label {
    @apply leading-none;
    font-size:  clamp(0.9375rem, 0.915rem + 0.094vw, 1rem);
    
  }
  .profile .name {
    @apply self-start leading-none desktop:leading-[1.25];
    font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
  }
  .filter-text {
    font-size: 1.125rem;
    color: var(--purple-500);
  }
  .title {
    @apply text-[1.125rem] font-medium 
  }
  .hrs {
    @apply  font-light desktop:col-span-2;
    font-size: clamp(2rem, 1.494rem + 2.16vw, 3.438rem);
  }
  .wk-hrs {
    @apply text-[0.9375rem] text-navy-200 justify-self-end desktop:col-span-2 desktop:justify-self-start;
  }
}

@layer utilities {
  .content {
    @apply hover:bg-navy-500 cursor-pointer;
  }
  .filter-text {
    @apply hover:text-white cursor-pointer;
  }
  .ellipsis {
    @apply hover:brightness-200;
  }
  .content:has(.ellipsis:hover) {
    background: var(--navy-900);
  }
}
